html {
  box-sizing: border-box;
  font-size: 10px;
  background: #4281a4;
  max-width: 100vw;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Amatic SC", cursive;
  overflow-x: hidden;
}

h1 {
  text-align: center;
  font-size: clamp(30px, 10rem, 10vw);
  line-height: 1;
  margin-bottom: 0;
}

.score {
  background: rgba(255, 255, 255, 0.2);
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
}

.game {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url(dirt.svg) bottom center no-repeat;
  background-size: contain;
  content: "";
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

.mole {
  background: url("face.png") bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}

.hole.up .mole {
  top: 0;
}
.hole.up .mole:hover {
  cursor: pointer;
}
.gameOps {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 600px;
  margin: auto;
  margin: 4rem auto 2rem auto;
}
.gameOps * {
  font-family: inherit;
  font-weight: 800;
  font-size: 3.5em;
}
.gameOps p {
  display: inline-block;
}
.time {
  padding: 1.5rem 3rem;
  margin: 0;
  background: rgba(255, 255, 255, 0.2);
  line-height: 1;
  border-radius: 1rem;
}
.startGameButton {
  padding: 1rem 5rem;
  border: none;
  background: #e98a15;
  border-radius: 1rem;
  transition: all 0.5s;
}
.startGameButton:hover {
  cursor: pointer;
  transform: scale(1.03) translateY(-3px);
}
.leaderboard-container h4 {
  margin: 0;
  text-decoration: underline;
  margin-bottom: 1rem;
}
.leaderboard-container p {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  font-size: 0.5em;
}
.leaderboard-container {
  width: 600px;
  margin: 4rem auto;
  text-align: center;
  font-size: 4em;
}
.footer {
  position: relative;
  margin-top: 3rem;
  width: 100%;
  height: 50px;
  background: rgba(255, 255, 255, 0.116);
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer img {
  margin-left: 0.75rem;
}
@media (max-width: 800px) {
  #game,
  .leaderboard-container,
  .gameOps {
    width: 97.5%;
  }
  .hole {
    width: 30%;
    height: auto;
    bottom: 20px;
  }
  .startGameButton {
    padding: 0.5rem 2.5rem;
  }
  .time {
    padding: 0.75rem 1.5rem;
  }
}
@media (max-width: 800px) and (min-width: 600px) {
  .game {
    margin-top: 5rem;
  }
}
